html, body{
    height:100%;
  }
  
  body{
    background-image: url(https://images.alphacoders.com/205/205891.jpg);
    text-align: center;
  
  }
  
  #wrapper{
    margin:2.5% auto;
    background:transparent;
    width:960px;
    height: 95%;
    box-sizing: border-box;
  }
  
  #subwrapper{
    position: relative;
    color:whitesmoke;
  }
  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-family: 'Griffy', cursive;
    font-size: 42px;;
    color:
    #b1e1b4;
  }
  
  img{
    height:200px;
  }
  
  h1{
    font-family:'Henny Penny', cursive ;
    
    font-size: 6.5em;
    font-weight: bold;
    color: white;
    padding-top: 2.5%;
  }
  
  h2{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 35px;
    margin-bottom: 25px;
    color:
    white;
  }
  
  h3{
    font-family:'Princess Sofia', cursive ;
    
    font-size: 25px;
    margin-bottom: 10px;
   color: whitesmoke;
}

  
  #start{
    margin-top: 10%;
    border:2px solid #5f96ad;
    background:;
    ;
}
  
  
  
  button:hover {
    border:2px solid black;
    background:#5f96ad;
    color: whitesmoke;
    
  }